
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="id_username" class="form-label">User Name</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-4">
                        <label for="id_email" class="form-label">User Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-4">
                        <label for="id_password1" class="form-label">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-4">
                        <label for="id_password2" class="form-label">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <p class="my-2">Already a user? <a href="{% url 'login' %}">Login Now</a></p>
            </div>
            <div class="col-6">
                {% if form.errors %}
                    <ul class="text-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</body>
</html>
